@import 'bootstrap-sprockets';
@import 'bootstrap';

.big-image {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

#brand {
  max-width:100%;
  max-height:100%;
}

#flash-alerts {
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 0px;
  padding-top: 0px;
  height: 55px;
  border-top: 1px solid #4E4B4F;
  color: #777;
}

footer a {
  color: #555;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

footer a:hover {
  color: red;
  text-decoration: none;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.footer-section {
  height: 50px;
 }

 .navbar {
   margin-bottom: 0;
 }

 .navbar-center {
   font-family: 'Limelight', cursive;
   padding: 0;
   margin: 0;
 }

#nav-header a {
  color: #222;
  display: inline-block;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#nav-header a:hover {
  color:red;
  text-decoration: none;
}

.welcome-image {
  padding: 0;
  margin: 0;
}
