<footer class="footer">
  <div class="footer-section">
  <nav>
    <p>Razor icon made by <a href="http://www.freepik.com/">freepik</a> from www.flaticon.com </p>
    <ul id="footer-links">
      <%-# <li><%= link_to "About", about_path %#></li> -%>
      <li><a href="https://github.com/JakeMKelly/murrays-shop">Github</a></li>
    </ul>
  </nav>
  </div>
</footer>
